{% extends "base.html" %}
{% block content %}
<!-- End Header Section with Navigation Bar -->

    <!-- Start Add Photo Section -->
    <div class="edit-delete edit-photo">
        <h2>Add photo</h2>
        <!-- Start Add Photo Form -->
        <form action="{% url 'ph-add-page' %}" enctype="multipart/form-data" method="post">
            
            {{ form.as_p }}
            {% csrf_token %}
            
            <button class="add-btn" type="submit">Add Photo</button>
        </form>
        <!-- End Add Photo Form -->
    </div>


{% endblock %}